[2017-05-18 13:31] rnemec opened #1 "Default whitespace setting"
Is it correct? It says `[^\\w+]`
I would expect `[^\\w]` or `[^\\w]+` depending on how you use it.

(Side question - in JS, many libs include `$` in the identifiers, so I changed the setting to `[^$\\w]`. Can you confirm that should work fine?)

[2017-05-18 22:29] atishay opened #2 "Investigate issues with Rubocop extension"
See https://github.com/Microsoft/vscode/issues/5312#issuecomment-302442687

[2017-05-18 22:31] rnemec commented on #1
Thanks. So far the plugin behaves very nicely. Detecting different languages would be great. A step towards this plugin being **a must** for any normal development. Well, even without the languages.

[2017-05-19 01:48] atishay commented on #2
Not able to reproduce. Need help reducing from @jilustrisimo

[2017-05-19 01:49] atishay commented on #1
Thanks. I have updated this setting. Will add different language basic support as a feature request.

[2017-05-19 15:19] jilustrisimo commented on #2
Unsure as to what caused it, all settings for rubocop seemed fine.  I reinstalled the rubocop extension and everything, including autocomplete, was functional. It was odd because I had only installed All Autocomplete when the error began and rubocop didn't have a recent update.  Either way,  you can close this issue.  If it happens again and I can determine the bug comes from All Autocomplete I wi

[2017-05-19 16:21] atishay commented on #2
Thanks. I will mark this closed.

[2017-05-19 16:21] #2 closed

[2017-05-19 16:47] jilustrisimo opened #3 "extension seems to disable intellisense and snippts"
This happened in .js and .rb files.  As soon as I disable All Autocomplete everything else works.  I believe from your TODO is already aware of this but if not I think you should know.

[2017-05-20 00:20] atishay commented on #3
This is the design on VSCode https://github.com/Microsoft/vscode/issues/4791. I am trying to find a workaround.

[2017-05-23 17:10] rnemec commented on #3
@atishay , I just had to disable all-autocomplete too, like @jilustrisimo did. I cannot get any snippets or intellisense going (.JS and .HTML/.CSS). That's sad.

[2017-05-23 21:43] atishay commented on #3
@rnemec You can remove the trigger characters but that will not give results in a lot of cases. I have replied to the VSCode bug. Don't know if they will fix it.

[2017-05-25 00:53] bpartridge commented on #3
Could we allow the user to specify which scopes they want to have AllAutocomplete active for, defaulting to `['*']`? Then the user could set it to the same specificity as e.g. the Python plugins, restart their editor, and then it would show up in parallel? We could even set sane defaults i.e. Python and JS, while letting the user add whatever esoteric languages they might want to mix AllAutocomple

[2017-05-25 16:33] atishay commented on #3
I have created a new build based on the suggestions. I have removed the trigger characters and added support for all languages. If everyone finds this good, I will close this bug.

[2017-05-25 20:37] atishay commented on #3
Here is the new logic:
* It searches for all languages that vscode knows about.
* Then it registers itself at score 10 for all languages.

It returns it results and assumes VSCode merges it.

We have in this process made the scoring logic in VSCode useless, but as a workaround, this does not seem very bad.

[2017-06-02 18:27] atishay commented on #3
Closing the issue as no further complaints

[2017-06-02 18:27] #3 closed

[2017-06-08 16:19] ricardoemerson opened #4 "Command 'AllAutocomplete.toggleCurrentFile' not found"
Hello, this is a long-awaited extension for developers as it is a great feature.

I installed the extension, however when I try to execute I get the following vscode return:

`command 'AllAutocomplete.toggleCurrentFile' not found`

![image](https://user-images.githubusercontent.com/2879795/26939182-253b0c7c-4c3c-11e7-90ba-16e03da4b144.png)

I uninstall it and reinstall but the problem persist.

[2017-06-08 23:12] ricardoemerson commented on #4
After update vscode to 1.13 the problem desapear and is working great.

Tanks

[2017-06-08 23:12] #4 closed

[2017-06-21 13:49] ceciliassis opened #5 "command not found"
SO: Manjaro 17.0.1 Gellivara
Kernel: x86_64 Linux 4.9.33-1-MANJARO
Visual Studio Code Version: 1.13.1

Problem:
When I try to use the plugin I get this error:

All other plugins work!

Attached my installed extentions and the error message.
![screenshot_2017-06-21_10-49-12](https://user-images.githubusercontent.com/9968803/27387505-4af9eaa4-566f-11e7-9b77-443c63642277.png)

[2017-07-03 16:12] kehehee1 opened #6 "MarkDownFile not work!"
I install this plugin. When I open a markdown file, it just can't show word suggestions. But when I open a text file, it works fine. Help!

After tried a few times, I found that if set setting like below, it worked finaly.
[code]

[2017-07-06 00:32] ngpham commented on #5
This is an issue with file name typo. In the mean time, you can manually fix it by:
- Change to the extension folder, I assume this location for Linux: ~/.vscode/extensions/Atishay-Jain.all-autocomplete-0.0.8
- Under ./out/src/ rename "settings.js" into "Settings.js".

[2017-07-12 06:35] atishay commented on #6
Thanks for the information. I will add this information to the Readme

[2017-07-17 14:05] akalightowl commented on #5
Have the same problem and you solution help me. Thanks. Maybe should rename this file on repo? Thank you again.

[2017-08-07 21:07] atishay commented on #6
Added this information to the readme

[2017-08-07 21:07] #6 closed

[2017-08-07 21:12] atishay commented on #5
@ceciliassis @akalightowl Sorry for the late response. I was out on a vacation. Can you check the fix in version 0.0.9

[2017-08-07 21:12] #5 closed

[2017-08-30 20:08] atishay commented on #1
Added support for this in 0.0.10

[2017-08-30 20:08] #1 closed

[2017-09-22 07:39] meherranjan opened #8 "Project wide configuration"
It would be nice to have a configuration based on directories. For example, let autocomplete suggest based on the current directory level or one level up or project wide.

[2017-09-22 19:20] atishay commented on #8
The open tabs have acted as a good way of keeping the list of files to search the words from. Having a list of files outside this will have a performance impact and the extension will need to do a lot more at detecting changes. I will need to test out extensively how much the extension can handle. Will keep this bug open until I have a good solution.

[2017-09-30 09:01] W4RH4WK commented on #6
Hey there, did you change any of the default configurations lately? At the moment, the extension does not take the regular `editor.quickSuggestions` option into account for Markdown.

I typically have quick suggestions disabled as I bring them up only when I need them. But today I noticed that they are popping up in Markdown files due to this extension while not having quick suggestions enabled. I

[2017-09-30 22:34] atishay commented on #6
Yes. I added markdown to the default list.

[2017-09-30 23:13] W4RH4WK commented on #6
Okay, I still think this should not be necessary but it seems to be an issue with VSCode rather than this extension that the special handling for Markdown is necessary.

[2017-11-09 18:14] NimaiMalle opened #9 "Getting "Unexpected Active Doc. Parsing broken""
First of all, thank you for your work on this extension!
I'm trying it with JavaScript files, and have just two files open.  One is a small file of 250 lines or so.  The other is a large min.js file with over 14,000 lines.  When I switch between these two open files, the allaotocomplete extension logs "Unexpected Active Doc. Parsing broken".  I also notice that some words in the large min.js file

[2017-11-09 18:28] atishay commented on #9
That message occurs when changes occur in non-active documents, normally happens when the file changes outside of VSCode, like say a git revert or branch change. That case is currently not handled in all-autocomplete. I can work on fixing that for a future version.

There is a parameter: AllAutocomplete.maxLines, which defines how many lines to cutoff the search for a file. It defaults to 9999. Yo

[2017-11-09 18:52] NimaiMalle commented on #9
I see.  I'm not sure why the file was coming up as changed externally.  It would report this every time I switch between the two tabs.  When I had it in the debugger, it looked like the *fileName* property was actually different in the `window.activeTextEditor.document` and `e.document` objects.

[2017-11-09 19:34] atishay commented on #9
I will try out the case and report back to you with the findings.

[2017-11-11 04:35] atishay commented on #9
I figures out the cause of the exception. When a document is switched to a "dirty" document (One that has not been saved), before sending the event for document switch, vscode send the changed event blank changes. I don't know why that event is sent. I have added code to not forward in the special case. I am not publishing an update to the extension as this is not a user impacting bug (it recovers

[2017-11-13 18:10] mikew commented on #8
Isn't this pretty much ctags?

[2017-11-13 23:16] atishay commented on #8
@mikew The feature may be similar but it is not sharing any code with ctags. This plugin is not accessing any files directly and runs completely within the VSCode shell using the VSCode API. I do not intend to break the sandbox with this plugin. If you want ctags, use https://marketplace.visualstudio.com/items?itemName=jaydenlin.ctags-support.

[2017-11-14 00:17] mikew commented on #8
Oh I'm aware of all that stuff, my point was that @meherranjan could get what they're looking for with ctags.

[2017-11-28 19:03] adjohu opened #10 "Order suggestions by proximity to cursor"

[2017-11-29 05:49] atishay commented on #10
It is not completely under extension control, but the order can be potentially controlled for all items returned by the same extension via the sortText property: https://github.com/Microsoft/vscode/issues/26096

i will have to investigate the same in further detail.

[2017-11-29 05:49] atishay commented on #9
Closing as there is no response.

[2017-11-29 05:49] #9 closed

[2017-12-05 12:06] W4RH4WK opened #11 "Cannot read property 'length' of undefined"
While the extension is working, I observed the following errors in the console.

[code]

[2017-12-05 12:06] W4RH4WK opened #12 "Cannot read property 'split' of undefined"
Similar to #11 I also have this error in my console.

[code]

[2017-12-06 15:26] atishay commented on #11
Thanks for the information. I will try and see what has changed in vscode and will reply back in a day or two.

[2017-12-15 23:21] atishay opened #13 "Improve whitespace splitter for css, html and js files"
. : are important in css files as non whitespaces.

[2017-12-16 20:19] atishay commented on #13
Fixed in 0.0.11

[2017-12-16 20:19] #13 closed

[2017-12-16 20:24] atishay commented on #12
@W4RH4WK Can you please verify in v 0.0.11. I am not able to reproduce the bug. But added a check. This one was a safe check.

[2017-12-18 05:25] atishay commented on #11
@W4RH4WK I am not able to reproduce this one. Unlike #12, this one does impact functionality. I would love to know how to get it reproduced. Do you have some special type of file open. Are there steps to reproduce the issue?

[2017-12-18 13:07] W4RH4WK commented on #11
I am currently unable to reproduce this (and also #12). Maybe the new VSCode release fixed something causing this problem, yet I do not know.

I'll notify you if I find a reliable way to reproduce any one of these 2 issues.

[2018-01-14 07:30] atishay commented on #12
Closing as cannot reproduce.

[2018-01-14 07:30] #12 closed

[2018-01-14 07:30] atishay commented on #11
Closing as non-reproducible.

[2018-01-14 07:30] #11 closed

[2018-01-23 16:40] pavlvs opened #14 "Hyphenated class names"
It would be useful to have suggestions for hyphenated class names from an HTML file while working in a CSS or JavaScript file that references them. For example: class name="collection-item" appears in CSS and JavaScript suggestions separately as "collection" and "item". It would more useful if it showed as "collection-item" in the list of suggestions.

[2018-01-26 14:41] atishay commented on #14
This issue should not be there in the latest version. Please share the values of the following settings if you have overwritten them:

* `AllAutocomplete.whitespace`
* `AllAutocomplete.languageWhitespace`

[2018-03-17 17:39] hillcoatt commented on #14
I've got the same problem. I'm on Mac, OSX 11.11.6, VSCode 1.21.1. All hyphenated classes in php or html files won't show up.  Values of the setting you mention:

1.
[code]

2.
[code]

[2018-03-19 04:32] atishay commented on #14
Can you check updating php to "php" to "[^\\w\\-_\\$]+". That should fit this. I will update the list and create a new version once you can confirm this is not an issue with this setting.

[2018-03-19 11:29] hillcoatt commented on #14
I tried replacing with your string. Still doesn't work. And I get an error "Invalid escape character in string". Thanks for trying to sort this out though!

[2018-03-20 11:41] hillcoatt commented on #14
I tried to change the order of the regex character list, and now everything works as expected. This is the regex variant in my preferences (switched places for `\\-` and `\\w`) :

    "php": "[^\\-\\w_\\$]+",

[2018-03-20 13:54] zdupix opened #15 "Autocompletion from specified file"
Hi, It would be nice to have an autocompletion based on specified file (from disk or by URL). For example, in settings, I'd like to specify certain file, which provides list of words used for autocompletion.

[2018-03-27 03:20] atishay commented on #15
Good Idea. I have added to the backlog

[2018-04-05 23:07] sporto opened #16 "Autocomplete after dot"
I tried this with Elm but cannot get autocomplete after `.`

e.g. I have

[code]

After typing `user.n` I would expect to see `name` as suggestion.
Any help on this would be great, thanks

[2018-04-07 14:52] atishay commented on #16
The [VSCode API](https://github.com/Microsoft/vscode/blob/master/src/vs/vscode.d.ts#L6090) makes this kind of completion very difficult. The ranking of completion providers is based on a matching algorithm and VSCode does not want to show too many completion providers. It seems like the ranking for `.` character is different from other characters. I will try and look for a solution where I can mat

[2018-04-07 14:55] atishay opened #17 "Support for Unicode characters and string starting with numbers"
- Words having unicode characters are not autocompleting. Eg a1234_测试
- Words starting with a number are not autocompleting. Eg 1234

[2018-04-07 17:04] atishay commented on #16
The [getWordRangeAtPosition](https://github.com/Microsoft/vscode/blob/05c70a3ad836e0a9d2bba86b06098be4fb0c7c50/src/vs/vscode.d.ts#L218)API is giving wrong value, i.e. if you type `user.n`, the other languages give `n` as the word range at the last position while the elm language server gives `usern`. This should be fixed by the language server. As a work around, setting the whitespace splitters in

[2018-04-07 17:10] atishay commented on #16
Created https://github.com/Krzysztof-Cieslak/vscode-elm/issues/201

[2018-04-07 17:35] atishay commented on #17
Number support is a bigger work item. Numbers have `.` as a character which is a splitter if it is not a number. Contextual number handling is good though will require extra work.

[2018-04-07 20:05] #16 closed

[2018-04-07 20:06] atishay commented on #16
Added workaround in 0.0.12

[2018-04-07 20:07] atishay commented on #15
Added support in 0.0.12. You can use `AllAutocomplete.wordListFiles`

[2018-04-07 20:07] #15 closed

[2018-04-07 20:08] atishay commented on #14
Updated in 0.0.12. Please reopen if you are still facing issues.

[2018-04-07 20:08] #14 closed

[2018-04-07 20:14] atishay commented on #8
Added support for `AllAutocomplete.wordListFiles` where you can specify the list of files to open. You can use recursive listing of directory and add that to settings. VSCode does open those files so there is cost involved.

[2018-04-07 20:14] #8 closed

[2018-05-14 11:13] erikverheij commented on #15
Hi! Thx for this great extension :). Could you provide some examples on how to specify `wordListFiles`? I can't get it to work :(

[2018-05-15 02:19] atishay commented on #15
@erikverheij The `wordListFiles` are meant to be text files whose absolute path is specified in the settings. The extension does not directly read anything from disk and tried to use VSCode APIs for everything. Internally it is loading all those files in VSCode and therefore having a folder there would not be ideal. It would require a different implementation (See [Ctags](https://en.wikipedia.org/

[2018-05-15 15:06] fregoem opened #18 "Autocomplete for object members not working"
I installad allautocomplete and it is working fine in blade files but in PHP files it doesn't suggest like in sublime.

Not working:
![error2](https://user-images.githubusercontent.com/33716593/40065376-f1df0e90-5861-11e8-9ea3-7cebeaacb90f.png)

![error](https://user-images.githubusercontent.com/33716593/40065377-f2014b0e-5861-11e8-9e42-9cfa7f91d70b.png)

Working (blade):
![error3](https://user-im

[2018-05-15 16:49] atishay commented on #18
@fregoem Can you share a sample file on a gist where I can figure out the issue.

[2018-05-15 16:51] fregoem commented on #18
Hi Jain,

Can I send the file via mail?

Kind regards,
Frederiek

Op 15 mei 2018 om 18:50 heeft Atishay Jain <notifications@github.com<mailto:notifications@github.com>> het volgende geschreven:

@fregoem<https://github.com/fregoem> Can you share a sample file on a gist where I can figure out the issue.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on G

[2018-05-15 16:53] atishay commented on #18
@fregoem Sure. You can share this to me at `contact[at]atishay[dot]me`. It might take me some time to figure this out but I will get to the bottom of this.

[2018-05-17 21:00] atishay opened #19 "Investigate option to change the sort order of items"
* move the all-autocomplete items below the regular items
* also have some semantic order in them

[2018-05-30 16:34] atishay commented on #18
@fregoem Please verify version 0.0.13. It should resolve most of the issues.

[2018-05-31 02:01] tiansin opened #20 "Infinite increase in memory"
When I use the php framework to automatically complete, there will be an infinite increase in memory stuck, is the latest version of the emergence of the old version does not have this problem.

[2018-05-31 03:46] atishay commented on #20
Thanks for the information. The latest version removed the limits to the list of words shown. I will add it back promptly.

[2018-05-31 04:11] atishay commented on #20
@tiansin I have added version 0.0.14 with a new API `AllAutocomplete.maxItemsInSingleList`. This will prevent the autocomplete list from ballooning to all words found in case of a huge list. Unfortunately I don't have a good sample PHP codebase to test with. Please do inform me if this is still an issue for you.

[2018-05-31 05:08] tiansin commented on #20
![gif](https://user-images.githubusercontent.com/4232281/40762094-b01dc72c-64d1-11e8-86ca-dce3d6111fcc.gif)

@atishay After my test, I found a reason that this problem occurs when I type > try to list.When I type characters, auto-complete can be quickly listed.

[2018-05-31 13:03] atishay commented on #20
@tiansin I have removed `>` character from the autocomplete list in v0.0.15

[2018-05-31 13:29] tiansin commented on #20
@atishay
This problem seems to have been resolved, but there is another phenomenon. When I confirm the completion of the list of items, the preceding characters must be exactly matched for capitalization.Thank!.
![gif](https://user-images.githubusercontent.com/4232281/40784924-9d04565e-6519-11e8-8240-6457206eafbc.gif)

[2018-06-02 17:48] atishay commented on #20
Please verify in v0.0.16.

[2018-06-11 05:09] atishay commented on #20
Closing this issue. Please reopen if it reappears.

[2018-06-11 05:09] #20 closed

[2018-06-11 05:09] atishay commented on #18
Closing the issue. Please reopen if it re-appears.

[2018-06-11 05:09] #18 closed

[2018-07-02 23:42] oltodosel commented on #19
It would be nice to have option of sorting autocomplete by frequency.

[2018-07-02 23:48] oltodosel opened #21 "Highlighting words in suggested autocompletions according to syntax of current file."
Something similar to the way Atom does it.

[2018-07-08 03:19] atishay commented on #21
@oltodosel
Can you share an example of the desired behavior. Is this something you need in VSCode or the extension? A lot autocomplete values are coming from the language server.

[2018-07-08 21:14] oltodosel commented on #21
You know, now that I thought about it some more - I don't really need it.
I was just too accostommed to [Atom's way of indicating](http://7oxfk1.com1.z0.glb.clouddn.com/atom-react-native-autocomplete-demo.gif) autocompletions by color-coding the first letter of property of suggestion. VSCode does it with images instead, and some of them look too bland, so it's kinda harder to discern them.

[2018-07-08 21:14] #21 closed

[2018-07-25 11:51] jackfranklin opened #22 "Don't show duplicates that AllAutoComplete has found"
Hey,

Firstly, thank you for the great work on this plugin! It's improved my workflow a lot :)

I was wondering if it's possible to not include additions from AllAutoComplete in the case that they are duplicates?

e.g, often I'll have a variable, say `foo`, that is in two files, `a.js` and `b.js`. If I'm in `a.js`, the autocomplete will find `foo` twice:

- VSCode's inbuilt autocomplete will find

[2018-07-27 23:59] atishay commented on #22
VS Code does not have an API to determine the rest of items shown. I can try to be smarter by ignoring words in the current file but that would most likely start ignoring stuff that we do not want ignore like strings.
Leaving it open to see if the language server can help (maybe ask for language specific words from the server and ignore them).

[2018-08-19 06:19] BDZK opened #23 "Built in intellisense is disabled when the plugin is active."
Hi,
I've noticed that the built in intellisense is disabled when the pugin is active.
As a result the code snippets don't popup anymore.
And all other plugin like php intelephense, path intellisense etc. are not not poping.
But i'd like to have both working...
Thanks.

[2018-08-19 21:32] atishay commented on #23
We do increase the priority of All Autocomplete to enable it to show up. I can reduce the priority for certain content types or leave that as an option.
This might make this extension not show up in certain cases.

[2018-09-28 14:46] tecosaur opened #24 "[Feature Request] Limit scope to currently open file"
While this request may seem a bit odd, there is a reason for it. I have turned off the native `editor.wordBasedSuggestions` because I can't set a min word length, this would be a great replacement - but I don't necessarily want to have all open files used as sources. Adding this would be great as it would allow for me to effectively constrain the behaviour of vs code's word suggestions in a way th

[2018-10-08 09:22] evgygor opened #25 "Auto completion by function name"
Hi, I'm using this extension for brightscript and I cannot find the option to perform completion by function declaration.

for example i need autocompletion for 'foo' only if the function declaration exists in the file :
[code]
When there no function declaration in current document, or other opened documents - no completion should be suggested

Thanks a lot

[2018-10-08 17:07] atishay commented on #25
All autocomplete is built as a dumb word matching system. It does not understand the language semantics. If a word `foo` exists in any of the open documents, it is shown.

Please reopen the bug if this doe snot answer your question or the extension is behaving erratically.

[2018-10-08 17:07] #25 closed

[2018-10-23 09:14] suzhenyu22 opened #26 "it can not found in Comment"
when write sql, some infomation in the commnet, it can not be autocomplete.

[2018-10-23 14:09] atishay commented on #26
Please share a sample file and a line number where autocomplete is not working.

[2018-10-24 01:35] suzhenyu22 commented on #26
i am writing sql, when i type code, it can find some similar notes, but when i write the comment, it can't.
is there i miss some setting?

![1](https://user-images.githubusercontent.com/26854721/47400473-e64dcc00-d76f-11e8-9fc4-e0c3e8db00d7.png)

[2018-10-26 15:20] atishay commented on #26
Thank you for the screenshot. I will look into the issue

[2018-11-06 05:54] atishay commented on #26
<img width="1024" alt="screen shot 2018-11-05 at 9 53 09 pm" src="https://user-images.githubusercontent.com/2279039/48045447-3d2aac80-e145-11e8-92e8-a50fdd2817d3.png">

Seems to be working for me. Can you sand me a sample file where you are having issues. There might be some extension conflicting.

[2018-11-06 07:37] suzhenyu22 commented on #26
![snipaste_2018-11-06_14-13-31](https://user-images.githubusercontent.com/26854721/48049505-dc00e880-e1d9-11e8-982f-f02b6b5b7010.png)

[2018-11-06 08:35] suzhenyu22 commented on #26
i read the vscode config setting, i found something , when i change it, all works.
[code]
that's why autocomplete not wroks in comments and strings.

[2018-11-06 14:16] atishay commented on #26
Wonderful. I will put that in the readme for others.

[2018-11-06 14:16] #26 closed

[2018-11-21 13:47] SophtwhereDev opened #27 "Failing to Get Custom AutoComplete With AllAutocomplete.languageSpecialCharacters Setting"
What I aim to accomplish is a custom autocomplete for namespaced tags within a .csv file which I will either have newline separated or comma and whitespace (", ") separated. So something along these lines:

[code]

I figured I could get autocomplete for these tags using the `AllAutocomplete.languageSpecialCharacters` setting and I added the entry `"csv": "[A-Za-z0-9 ]+:[A-Za-z0-9 ]+"` however this

[2018-11-27 23:31] AndreyKonogray opened #28 "Freezes"
After installation of colorize or all autocomplate, it takes some time and the program hangs, after which the emmet, autocomplete and some other plugins stop working. The problem appears after the finishing of scanning files (on the status bar at the bottom of the workstation)

[2018-12-03 14:51] atishay commented on #27
Please use the following properties:
In "AllAutocomplete.languageWhitespace", add
"csv": "[^\\w_\\u0080-\\uFFFF \\:]+"

"AllAutocomplete.languageSpecialCharacters", add
"csv": "^[\\: ]"

I would recommend doing this at the project level as you will be overriding the language specific options for all other languages. You can look at the defaults [here](https://github.com/atishay/vscode-allautocompl

[2018-12-03 14:51] #27 closed

[2018-12-03 14:55] atishay commented on #28
I am not able to reproduce a freeze. It seems colorize overrides all the autocomplete and therefore when it is active nothing else shows up (can be done via the trigger character API).

But when not doing color everything is working properly. All autocomplete and the language server completions are showing up.

[2018-12-09 12:03] SophtwhereDev commented on #27
@atishay I tried doing this but it didn't work for me, this is what I added to my config:

[code]

I added extra backslashes to the thing you actually suggested because there was an error for unknown escape character but that was no good too... Is there anything else I could try? I appreciate the help!

[2018-12-10 00:32] atishay commented on #27
If you update to version 18, you can find CSV in the defaults.

[2018-12-11 15:38] arobinson commented on #19
This would be awesome. I would love to always see the regular completions and have the all-autocomplete only at the bottom if possible.

[2018-12-12 06:36] SophtwhereDev commented on #27
@atishay I've updated to version 18 and it still doesn't seem to work.

If I have an entry "art:scenery", it only recommends "art" and "scenery" separately.

[2018-12-13 14:30] atishay commented on #27
<img width="783" alt="screen shot 2018-12-13 at 6 28 11 am" src="https://user-images.githubusercontent.com/2279039/49944906-6bb44980-fea0-11e8-9652-a4f5fe3cf1ff.png">

With the Rainbow CSV plugin to VScode and selecting CSV as the type, I am able to get this to work. If you are using some other combination, please share that with me and I can get that added to the list.

[2018-12-16 14:37] pontikis commented on #23
Hello @atishay Congrats for your work!

I use AllAutocomplete together with PHP intelephense

What's happening it's a little strange: the first results they appear are from AllAutocomplete and the expected method ``suggestPassphrase`` of  ``User`` object (from intelephense) does not. But is you type some chars and press backspace both are visible. See it in action:

![all-autocomplete2](https://us

[2018-12-16 18:10] atishay commented on #23
The API support for ordering intellisense items in VSCode is limited. I will see how I can improve compatibility with php intellisense.

[2019-01-20 16:08] atishay commented on #28
Please re-open if you are still facing the issue

[2019-01-20 16:08] #28 closed

[2019-02-24 20:32] roostercrab opened #29 "Won't autocomplete html when file is associated with Django"
If an html file is associated with Django instead of html, there is no autocomplete for html offered.

[2019-03-03 16:23] atishay commented on #29
It is working for me. Have you disabled autocomplete for django-html file types?
You can do that via `editor.quicksuggestions` for any filetype. See [here](https://code.visualstudio.com/docs/editor/intellisense#_customizing-intellisense) or https://github.com/atishay/vscode-allautocomplete/issues/6

<img width="1680" alt="screen shot 2019-03-03 at 8 19 32 am" src="https://user-images.githubusercon

[2019-03-22 23:47] SaoYan opened #30 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `All-Autocomplete`
- Extension Version: `0.0.18`
- OS Version: `Darwin x64 18.2.0`
- VSCode version: `1.32.3`

:warning: Make sure to **attach** this file from your *home*-directory: `/Users/yiqiy/Atishay-Jain.All-Autocomplete-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extension-cau

[2019-04-27 01:21] netmou opened #31 "An annoying thing width upcase"
![0V2pCmgrX2](https://user-images.githubusercontent.com/7068058/56842923-2df31300-68cd-11e9-8eeb-e1cb07acd1d4.gif)
for php code the "accessAllowedCheck" is right, but autocomplete return  accessallowedCheck
sorry my English is not good!

[2019-05-06 10:24] karadimnik opened #32 "Extension causes high cpu load"
Hi!
- Issue Type: `Performance`
- Extension Name: `All-Autocomplete`
- Extension Version: `0.0.18`
- OS Version: `Darwin x64 18.0.0`
- VSCode version: `1.33.1`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`/Users/nikolas/Atishay-Jain.All-Autocomplete-unresponsive.cpuprofile.txt
[Atishay-Jain.All-Autocomplete-unresponsive.cpuprofile.txt](https://github.com/atish

[2019-05-10 10:45] slawick12 opened #33 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `All-Autocomplete`
- Extension Version: `0.0.18`
- OS Version: `Darwin x64 18.5.0`
- VSCode version: `1.32.2`

:warning: Make sure to **attach** this file from your *home*-directory: `/Users/slawickyaschenko/Atishay-Jain.All-Autocomplete-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-ex

[2019-05-14 04:47] tgreen7 opened #34 "Autocomplete shows incorrect / partial suggestions"
This won't always happen but oftentimes I will find autocomplete giving me a bunch of incomplete and broken suggestions. It almost seems like it was adding these to the list as I was typing the variable out, but sometimes they have spellings that I don't think I ever even tried.

Here is a screenshot showing this behavior:
<img width="617" alt="Screen Shot 2019-05-09 at 3 33 24 PM" src="https://us

[2019-05-14 16:38] atishay commented on #34
@tgreen7 I have been trying to chase this intermittent bug for a while now. Can you find some good reproducible case that I can look at

[2019-05-14 17:21] atishay commented on #30
@SaoYan Please attach the cpu profile.

[2019-05-14 17:21] atishay commented on #32
@karadimnik Please attach the CPU profile

[2019-05-14 17:21] atishay commented on #33
@slawick12 Please attach the CPU profile

[2019-05-14 17:22] atishay commented on #29
@roostercrab Please re-open if this is still an issue.

[2019-05-14 17:22] #29 closed

[2019-05-29 21:05] karadimnik commented on #32
@atishay isn't this what you need? -> https://github.com/atishay/vscode-allautocomplete/files/3147492/Atishay-Jain.All-Autocomplete-unresponsive.cpuprofile.txt

Cause it's already there.

[2019-05-29 23:52] atishay commented on #32
Thanks. I will take a look

[2019-05-31 17:42] DvagNic opened #37 "Show available suggestions"
It would be nice when Autocomplete shows a list of available suggestions when (for example using it with Groovy here), the `.` is typed. Right now I have to type in the first letter of the method or variable name in order for the suggestion to appear.

[2019-06-05 15:41] atishay commented on #31
@netmou I am not able to see the issue. There might be a conflicting plugin. Please list the PH plugins in use.

![Screenshot](https://user-images.githubusercontent.com/2279039/58970124-a4591f80-876d-11e9-96ec-5cbb2541bccb.gif)

[2019-06-06 00:27] netmou commented on #31
The follow image show All plugins that i used .
![image](https://user-images.githubusercontent.com/7068058/58998711-c8336880-8834-11e9-907e-a8b9d0b599e9.png)

[2019-06-06 00:32] netmou commented on #31
The issue has disappeared when I make PHP DocBlocker disabled, thanks

[2019-06-06 00:32] #31 closed

[2019-06-07 01:59] swarnendubiswas opened #39 "V0.0.19 is not compatible with VS Code 1.35.0"
The latest release cannot be installed or upgraded. Is this by design?

[2019-06-07 02:27] atishay commented on #39
Sorry about that. Fixed in v 20

[2019-06-07 02:27] #39 closed

[2019-07-08 17:35] EverWeepin opened #40 "Hope there is a setting for the completions to be classified by the language mode"
for example, we have A, B in python-mode,
and then, it wont complete A, B in html-mode,

That would be much more easy to use,

[2019-07-18 07:53] duanyongyao opened #42 "How can I input regex just like "**/*.+(sql|md)" in the setting "AllAutocomplete.wordListFiles: ""
Hello,thanks for this amazing plugin!
Now I have a questios in add files to autocomplete search:I want to add a lot of files,and adding one by one is very troublesome.
Is there any way to automatically search all files in the workspace? Or add a regular expression to wordListFiles?

[2019-07-23 15:39] max-kalganov commented on #15
Hi! It would be great, if I can set extension to search in all files in the opened folder.
Or how can I do the same thing now?

[2019-07-27 16:49] atishay commented on #42
Not right now. I can can add support. Note that adding a lot of files would slow down. For now you can use the find command line to export the list and add that to the settings.

[2019-07-29 02:43] duanyongyao commented on #42
It's a good idea, thanks for your help!

[2019-07-30 22:03] MattyRad opened #43 "All Autocomplete causes random input fields to unfocus/refocus, preventing input and changes"
Issue Type: <b>Bug</b>

1. Install All-Autocomplete (on Ubuntu Linux)
2. Open settings UI
3. Attempt to change a text field or a dropdown field

Extension version: 0.0.20
VS Code version: Code 1.36.1 (2213894ea0415ee8c85c5eea0d0ff81ecc191529, 2019-07-08T22:55:08.091Z)
OS version: Linux x64 4.18.0-25-generic

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i

[2019-07-30 22:12] MattyRad commented on #43
I'm not 100% sure of the exact steps it would take to reproduce the error, I just know I installed the plugin and was unable to change my settings in the Settings UI afterwards. If it's not obvious what the issue is, feel free to close this, I can go without.

If it helps, I've experienced a very similar issue with Firefox in Ubuntu Linux (https://bugzilla.mozilla.org/show_bug.cgi?id=1451466).

[2019-07-31 00:03] MattyRad commented on #43
Ok, I think I found what I changed that caused this. I changed the "Max Lines" config from 9999 to 300. Changing the value back to 9999 seems to have fixed the issue. I also ran vscode from the command line without with `--unity-launch` flag which may have affected/improved the state of vscode on my machine. I don't exactly know what fixed it, but it appears to work now.

[2019-07-31 00:03] #43 closed

[2019-08-21 21:52] wellington1993 opened #44 "Extension issue - Unresponsive - Performance Problem"
[Atishay-Jain.All-Autocomplete-unresponsive.cpuprofile.txt](https://github.com/atishay/vscode-allautocomplete/files/3527447/Atishay-Jain.All-Autocomplete-unresponsive.cpuprofile.txt)

- Issue Type: `Bug`
- Extension Name: `All-Autocomplete`
- Extension Version: `0.0.20`
- OS Version: `Linux x64 5.0.0-26-lowlatency`
- VSCode version: `1.35.0`

:warning: We have written the needed data into your cli

[2019-08-29 11:41] Zod101 opened #45 "[Feature Request] autocomplete all files in the project without them begin opened"
Autocomplete from other files in the project without them being opened,
is this possible ?

[2019-10-20 08:58] xandm opened #46 "YAML files don't offer auto-complete"
Similar to https://github.com/atishay/vscode-allautocomplete/issues/6, it's necessary to add this to the config in order have auto-complete suggestions appear when editing .yaml files:

[code]

[2019-11-08 21:12] jvilk-stripe opened #48 "[Feature Request] Disable all-autocomplete for specific languages or files"
`excludeFiles` excludes certain files from being indexed, but would it be possible to exclude files from receiving autocomplete results this extension?

The context is a repository containing files in multiple programming languages. Some have great autocomplete provided via language servers, others don't. We'd like to use this extension for the latter category of programming languages _without_ it

[2019-11-08 21:13] jvilk-stripe commented on #48
e.g.:

[code]

or

[code]

[2019-11-14 20:37] atishay commented on #48
Happy to take a pull request.

[2019-11-14 20:43] #46 closed

[2019-11-14 20:55] atishay commented on #45
There is a setting called `AllAutocomplete.wordListFiles` for this specific purpose.

[2019-11-14 21:01] jvilk-stripe commented on #48
But this excludes files from being indexed. Those files still receive autocomplete results from other files, correct?

[2019-11-14 22:56] atishay commented on #48
I have added support for `AllAutocomplete.dontContributeToSelf`, `AllAutocomplete.nonContributingToSelfLanguages, and `AllAutocomplete.nonContributingLanguages`. Please reopen if those options don't meet the requirements.

[2019-11-14 22:57] #48 closed

[2019-11-15 00:29] jvilk-stripe commented on #48
Thank you for being so responsive! I'll let you know if we have any trouble with it.

[2019-11-24 18:53] TheAifam5 opened #49 "Cannot read property 'push' of undefined"
Version: 0.0.23

Error log:
[code]

[2020-01-01 20:44] codingXllama opened #50 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `All-Autocomplete`
- Extension Version: `0.0.23`
- OS Version: `Windows_NT x64 10.0.17763`
- VSCode version: `1.41.1`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2020-01-01 20:44] codingXllama commented on #50
[code]

[2020-01-08 09:56] kanlukasz opened #51 "Snippets suggestion are not displayed when the plugin is enabled"
#### When your plugin is `disable` i can work with PHP suggestions.
Example:
![bez](https://user-images.githubusercontent.com/30685349/71967460-aef7fd80-3203-11ea-896f-c52982db2933.gif)

#### When your plugin is `enabled`, suggestions are not displayed when I start typing
Example:
![z](https://user-images.githubusercontent.com/30685349/71967728-04cca580-3204-11ea-8dab-3ada3df8eacb.gif)

#### Teste

[2020-02-29 21:40] BannerBomb opened #55 "Extension issue"
- Issue Type: `Performance`
- Extension Name: `All-Autocomplete`
- Extension Version: `0.0.23`
- OS Version: `Windows_NT x64 10.0.18363`
- VSCode version: `1.42.1`
Extension is showing as unresponsive for me.

[code]

[2020-03-06 16:08] betterthanclay opened #56 "Fuzzy matching"
Autocomplete only appears to work when there is an exact match - is there any way to enable fuzzy matching, like the functionality that already exists in most other IntelliSense suggestions?

eg. type <code>mw</code> match <code>myWord</code>

[2020-03-06 16:13] atishay commented on #56
VSCode does not offer any prioritization ability outside of the sort text. While we can supply a long list of matched text, the prioritization is on VSCode. Therefore fuzzy matching can make things more confusing.  Will leave this open for more thoughts.

[2020-03-06 16:22] betterthanclay commented on #56
Understood.

Potentially a minimum length setting would help improve the results whereby fuzzy matches only come into play once x number of characters have already been matched in a word. While it would ultimately be great to get fuzzy matches for any input, I tend to use it most (previously in Atom) in the following scenario -

Strings within a document:
[code]

Keyboard input: <code>eveT</code>

[2020-03-10 12:40] tpfarul opened #57 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `All-Autocomplete`
- Extension Version: `0.0.23`
- OS Version: `Windows_NT x64 10.0.18363`
- VSCode version: `1.43.0`

[code]

[2020-03-16 17:03] nxrighthere commented on #34
Happens to me randomly from time to time as well, can't catch when and why exactly. Quite annoying bug. :sad:

[2020-03-30 04:23] dmxt opened #58 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `All-Autocomplete`
- Extension Version: `0.0.23`
- OS Version: `Linux x64 5.5.13-arch1-1`
- VSCode version: `1.43.0-insider`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2020-03-31 11:32] kanlukasz commented on #51
Hello,
Is there any chance to fix this?

Generally, it is hard to work without this function
There is no alternative in vscode marketplace

Sorry for no pull request but i'm just php dev only

[2020-05-02 13:31] owzim opened #60 "Add setting to limit completion results only to open files in current editor"

[2020-05-13 09:56] sergey-kucher opened #61 "Suggestions order: current editor first, shorter words first"

[2020-05-30 11:40] 9994444ggg opened #62 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `All-Autocomplete`
- Extension Version: `0.0.23`
- OS Version: `Windows_NT x64 10.0.18363`
- VSCode version: `1.45.1`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2020-05-30 11:41] #62 closed

[2020-07-04 07:21] Zikoi5 commented on #33
[log.txt](https://github.com/atishay/vscode-allautocomplete/files/4872235/log.txt)

[2020-08-06 19:33] atishay opened #65 "Investigate sorting based on sort key"
See https://github.com/codota/tabnine-vscode/pull/73 on how tabnine does sorting.

[2020-08-06 19:34] atishay commented on #19
https://github.com/codota/tabnine-vscode/pull/73 has some solution to sorting

[2020-08-06 19:34] atishay commented on #65
Duplicate of #19

[2020-08-06 19:34] #65 closed

[2020-08-20 08:56] arnonshp opened #66 "Request option to exclude comments from allautocomplete scan"
Currently allautocomplete also scans comments and suggests words appearing there as well. It would be great to have an option in allautocomplete to exclude from the scan the comments lines in the code. Of course, it would need to be aware of how comments are written in each language (//, /* in C++, # in python etc.)

[2020-09-13 08:22] #30 closed

[2020-09-23 23:15] cronotrigger21lit opened #67 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `All-Autocomplete`
- Extension Version: `0.0.23`
- OS Version: `Windows_NT ia32 6.1.7601`
- VSCode version: `1.48.2`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2020-09-27 17:38] vict0rsch commented on #19
Hey, has this project been discontinued? I'd love to see this enhancement :)

[2020-09-27 18:46] atishay commented on #19
I have been busy for he last one year. Do plan to come back for more enhancements, probably early next year. Happy to review and merge PRs though.

[2020-10-05 06:19] gammay opened #68 "Autocomplete does not work for text in "" (in json for example"
If the file has a text as "product_name", on typing "pro" - Ctrl+Space - no autocomplete choice is shown. This is a problem as jsons have quoted strings.

[2020-11-13 11:58] ocoka opened #69 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `All-Autocomplete`
- Extension Version: `0.0.23`
- OS Version: `Linux x64 5.7.0-997-generic`
- VSCode version: `1.51.1`

[code]

[2020-11-13 11:59] ocoka commented on #69
Extension hangs on input "." (dot) in editor

[2020-11-19 07:44] kanlukasz commented on #51
Fortunately, the VSCode team has taken care of this and is releasing their own version
https://github.com/microsoft/vscode/issues/5312#issuecomment-724717894

[2020-12-29 01:51] alan-zhang- opened #71 "Can I set a few files assume as always opened?"
This way, I don't need to manually open these files for autocomplete to work.

This feature is especially useful for Laravel Facades similar codes.

[2021-01-06 20:21] D0n-A commented on #68
Сonfirm this small (or not?) problem. I would also like to find a solution.

[2021-01-19 16:04] NikolaKrstic94 opened #72 "When fetching a method or function from different file- AllAutoComplete doesn't respect case sensitivity upon autocompleting."
As stated above, the completed word is in lowercase while it should maintain and respect the case sensitivity of the word it's referencing.

[2021-01-19 16:29] NikolaKrstic94 commented on #72
You can remove this: It was the PHP INTELEPHENSE extension that caused the issue.

[2021-02-21 13:02] olusams opened #73 "loading delay"

[2021-06-03 08:39] JohnnyWoong commented on #72
im using  PHP INTELEPHENSE and allautocomplete, but its conflicts, how do you solve that?

[2021-08-08 23:08] MardonoffJakhongir opened #78 "можете помочь"
Issue Type: <b>Feature Request</b>

не могу открыть файлы на проводнике

Extension version: 0.0.23
VS Code version: Code 1.59.0 (379476f0e13988d90fab105c5c19e7abc8b1dea8, 2021-08-04T23:13:12.822Z)
OS version: Windows_NT x64 10.0.18363
Restricted Mode: No

[2021-10-22 18:57] atishay opened #80 "Support web version of VSCode"
https://code.visualstudio.com/api/extension-guides/web-extensions

[2021-11-29 08:28] wll8 opened #81 "test"
Issue Type: <b>Bug</b>

test

Extension version: 0.0.23
VS Code version: Code 1.62.3 (ccbaa2d27e38e5afa3e5c21c1c7bef4657064247, 2021-11-17T08:11:14.551Z)
OS version: Windows_NT x64 10.0.19042
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-8250U CPU @ 1.60GHz (8 x 1800)|
|GPU Status|2d_canvas: enabled<br>gpu_compositing: enabled<br>m

[2021-11-29 08:29] #81 closed

[2021-12-07 11:47] hodanli opened #82 "accented characters"
hi,

i am using your extension for auto completing words from a dictionary. is there any way to suggest "sâlâriye" when i type "sa".

this would be very helpful.

thanks in advance.

[2022-01-29 13:18] kklot commented on #69
I have the same problem, hanging (slowing to be precise) not only `.` but also `#`, `?`.

[2022-10-11 11:28] huyz opened #86 "Use API instead of cycling through open editors?"
I assume that now that https://github.com/Microsoft/vscode/issues/15178 is closed that the cycling should not longer be necessary?

[2022-10-22 03:21] atishay commented on #86
Yes. Not necessary any more. Happy to take a apar with the fix.